.register-container {
	height: 100vh;
	background: black;
	color:  grey;
	font-family: 'Montserrat', sans-serif;
}
.page-heading {
	text-align: center;
}
.form-box {
	margin: 50px 0;
	display: flex;
	flex-flow: column wrap;
	padding: 1% 1%;
	border: none;
}

.name-input,
.age-input, 
.occupation-select {
	margin: 5px 0;
	padding: 10px 0;
	color: #ed4343;
	background: black;
	text-transform: uppercase;
	border: none;
	border-bottom: 2px solid grey;
	-webkit-appearance: none;
	line-height: 2rem;
	border-radius: 0%;

}
.check-in-button a{
	text-decoration: none;
	color: grey;
	display: flex;
	justify-content: center;


}

::-webkit-input-placeholder {
	color: #ed4343;

}



