	<div class="register-container">
	
	<h1 class="page-heading">Register</h1>
		
		<div class="form-box">	
				<input type="text" class="name-input" placeholder="Name">
			
			
				<input type="number" class="age-input" placeholder="Age">
			
		
			<select name="Occupation" class="occupation-select" >
			<option value="" disabled>Select occupation</option>
			<option value="">Dust Farmer</option>
			<option value="">Alien Hunter</option>
			<option value="">Battery Technician</option>
			<option value="">Yoga Teacher</option>
			<option value="">Front-end Developer</option>

			</select>
		</div>	
		<div class="check-in-button">
			<a [routerLink]="['/encounters']">Check In</a>
		</div>

</div>