.encounters-wrapper {

	height: 100vh;
	font-family: 'Montserrat', sans-serif;
}
h1 {
	font-size: 24px;
	margin:0;
}
.page-heading {
	padding: 5px 0;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	height: 100px;
	background: white;

}

.encounters-alien {
	padding: 20px;
}

.encounters-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30vh;
	background: black;
}


.report-encounter-button {
	font-size: 16px;
	text-decoration: none;
	color: grey;
}


.encounters-list {
	
	ul {
	height: 400px;
	overflow: scroll;
	padding: 20px;

	}
	li {
		color: grey;
		padding-bottom: 10px;
	}
}